<ul id="breadcrumb">
    <li data-section="intro">Introduction</li>
    <li data-section="problem">Problem</li>
    <li data-section="modularize">Modularize</li>
    <li data-section="Composite-based Architecture</li>
    <li data-section="webpack">Webpack</li>
    <li data-section="isomorphic">Isomorphic</li>
</ul>
