<div id="color-changer">
    <div class="color Crimson"></div>
    <div class="color DarkOrange"></div>
    <div class="color DarkGreen"></div>
    <div class="color Tan"></div>
    <div class="color CornSilk"></div>
    <div></div>
</div>
<div class="small">The above color bar is an example of using the Radio Channel to send messages to the page level application</div>
