<section class="introduction">
    <h2>Project Polaris: The emerging software ecosystem</h2>
    <p>Project Polaris initiative aims to provide a practical solution to support the trend of mass customizations to various web-based applications.</p>
    <p>These customizations provide additional value to core offerings and require a significant investment in R&D. In order to develop all of the required functionality  to satisfy customers needs, in an acceptable time frame, a software ecosystem is required — <i>a standardized approach for module development which enables both internal and external teams to operate quickly, independently and release often</i>, this will promote organization collaboration and distribute the cost of innovation.</p>
    <p>Excerpt taken from <a href="http://confluence5/display/MCOMUIT/Project+Polaris:+The+emerging+software+ecosystem">The Polaris Confluence Page</a></p>
</section>

{{> example foo="bar" }}