.introduction, .benefits, .guide{
        #logo{
                background-image: url(/images/polaris-logo.svg);
                background-repeat: no-repeat;
                background-position: top right;
                background-size: contain;
                height:25px;
                width: 100%;
        }
}
